:root {
    --blue: #1d71b9;
    --text-color: #727272;
    --blue-more-deatail: #149BD9;
    --white: #fff;
    --grey-active: #869791;
    --grey: #D6D6D6;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    direction: rtl;
}

body {
    font-size: 1.6rem;
    font-family: Yekan;
    color: var(--text-color);
}

*, *::after, *::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.articles {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0px;
}

.articles__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__title-left-line, .article__title-right-line {
    width: 35%;
    height: 0.24rem;
    position: relative;
}

.article__title-left-line::after, .article__title-right-line::after {
    content: " ";
    position: absolute;
    width: 1.68rem;
    height: 1.68rem;
    top: 50%;
    background: var(--blue);
    transform: translateY(-50%);
    border-radius: 50%;
}

.article__title-left-line::after {
    right: -2.1rem;
}

.article__title-right-line::after {
    left: -2.1rem;
}

.article__title-left-line {
    background: linear-gradient(to right,transparent 20%, var(--blue));
    margin-right: 3.5rem;
}

.articles__title-text {
    font-weight: 500;
    font-size: 2.8rem;
}

.article__title-right-line {
    background: linear-gradient(to left,transparent 20%, var(--blue));
    margin-left: 3.5rem;
}

.articles__items {
    display: flex;
    justify-content: space-around;
}

.article {
    width: 30rem;
    height: 28.4rem;
    background: var(--white);
    padding: 2rem;
    border-radius: 1.8rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 6px 0px;
    margin-top: 10rem;
}

.article__image {
    width: 100%;
    border-radius: 1.8rem;
    margin-top: -9rem;
}

.artile__title {
    margin: 1rem 0px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.article__description {
    line-height: 2;
    font-size: 1.4rem;
}

.article__more-info {
    position: absolute;
    left: 3rem;
    bottom: 2rem;
}

.article__link--arrow {
    color: var(--blue-more-deatail);
}

.article__link--arrow:hover .article__more-info-icon {
    transform: translateX(-0.7rem);
}

.article__more-info-text {
    position: relative;
    font-size: 1.4rem;
    margin-left: 0.7rem;
    font-weight: 700;
}

.article__more-info-icon {
    transition: 350ms ease-in-out;
}

.class-info {
    width: 100%;
    padding: 15rem 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.class-info__title {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.7rem;
}

.class-info__texts {
    width: 55%;
}

.class-info__title-text {
    font-size: 3.1rem;
    color: var(--blue);
}

.class-info__title-line {
    height: 0.3rem;
    background: linear-gradient(to left, var(--blue) , transparent 80%);
    position: relative;
    margin-right: 2.5rem;
}

.class-info__title-line::before {
    content: " ";
    position: absolute;
    width: 1.68rem;
    height: 1.68rem;
    background: var(--blue);
    right: -2.2rem;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.class-info__paragraphs {
}

.class-info__paragraph {
    display: none;
    line-height: 1.7;
    font-size: 1.8rem;
    padding-right: 1.7rem;
    text-align: justify;
}

.class-info__paragraph--active {
    display: block;
}

.class-info__switches {
    display: flex;
    justify-content: flex-end;
    gap: 1.3rem;
    padding: 3rem 0px;
}

.class-info__radio-label {
    cursor: pointer;
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--grey);
    border-radius: 100%;
}

.class-info__radio-label:hover {
    background-color: var(--grey-active);
}

.class-info__radio-label--active {
    background-color: var(--grey-active);
}

.class-info__teacher-photo {
    position: relative;
    width: 31vw;
}

.class-info__teacher-photo-image {
    width: 100%;
}

.class-info__teacher-photo-image-line {
    position: absolute;
    top: 6px;
    left: 30px;
    z-index: -1;
    transform: rotate(30deg);
    width: 30vw;
    animation-name: line-rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes line-rotate {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(390deg);
    }
}

.about-company {
    background: rgb(243, 242, 247);
    display: flex;
    justify-content: space-between;
    padding: 18rem 4rem;
}

.about-company__photo {
    z-index: 1;
    width: 41rem;
    display: flex;
    align-items: center;
    position: relative;
}

.about-company__img {
    position: absolute;
    width: 92%;
    z-index: 2;
}

@keyframes line-rotate2 {
    0% {
        transform: translateY(22px) rotate(27deg);
    }

    100% {
        transform: translateY(22px) rotate(387deg);
    }
}

.about-company__img-line {
    position: absolute;
    width: 89%;
    right: -1.7rem;
    transform: translateY(22px) rotate(27deg);
    animation-name: line-rotate2;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.about-company__texts {
    width: 63%;
}

.about-company__title {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.7rem;
}

.about-company__title-text {
    font-size: 3.1rem;
    color: var(--blue);
    margin-right: 1.3rem;
}

.about-company__title-line {
    height: 0.3rem;
    background: linear-gradient(to left, var(--blue) , transparent 80%);
    position: relative;
    margin-right: 2.5rem;
}

.about-company__title-line::before {
    content: " ";
    position: absolute;
    width: 1.68rem;
    height: 1.68rem;
    background: var(--blue);
    right: -2.2rem;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.about-company__description {
    padding: 1.8rem;
    line-height: 1.8;
    font-size: 1.8rem;
    color: rgb(114, 114, 135);
    text-align: justify;
}

.sponsors {
    background: rgb(250, 249, 255);
    padding: 5rem;
}

.sponsors__title {
}

.sponsors__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors__title-left-line, .sponsors__title-right-line {
    width: 35%;
    height: 0.24rem;
    position: relative;
}

.sponsors__title-left-line::after, .sponsors__title-right-line::after {
    content: " ";
    position: absolute;
    width: 1.68rem;
    height: 1.68rem;
    top: 50%;
    background: var(--blue);
    transform: translateY(-50%);
    border-radius: 50%;
}

.sponsors__title-left-line::after {
    right: -2.1rem;
}

.sponsors__title-right-line::after {
    left: -2.1rem;
}

.sponsors__title-left-line {
    background: linear-gradient(to right,transparent 20%, var(--blue));
    margin-right: 3.5rem;
}

.sponsors__title-text {
    font-weight: 500;
    font-size: 3.5rem;
    color: #383838;
}

.sponsors__title-right-line {
    background: linear-gradient(to left,transparent 20%, var(--blue));
    margin-left: 3.5rem;
}

.sponsors__logos {
    width: 100%;
    margin: 6rem 0 auto;
    height: 17rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsors__logos-container {
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .1);
    border-radius: 1.5rem;
    padding: 3rem 2rem;
}

.sponsors__logo {
    align-items: center;
    justify-content: space-around;
    display: none;

}
.sponsors__logo:nth-child(1){
    display: flex;
}

.sponsors__logo-img {
    width: 8%;
    height: 80%;
}

.sponsors__logo-img--scaled{
    transform: scale(1.5);
}

.sponsors_radios {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    padding: 3.5rem 0px;
}

.sponsors__radio-label {
    cursor: pointer;
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--grey);
    border-radius: 100%;
}

.sponsors__radio-label:hover {
    background-color: var(--grey-active);
}

.sponsors__radio-label--active {
    background-color: var(--grey-active);
}
